@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-artistic-sans: "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-artistic-sans);
}

.grid-layout {
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    padding: 2rem 2rem 5rem;
    gap: 4rem;
}

@media (min-width: 640px) {
    .grid-layout {
        padding: 5rem;
    }
}

.text-highlight {
    color: var(--foreground);
    font-family: var(--font-artistic-sans);
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

@media (min-width: 640px) {
    .main-content {
        align-items: flex-start;
    }
}

.footer-content {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4a4a4a;
    padding-top: 1rem;
}

h1 {
    font-size: 3.75rem;
    font-weight: 800;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
    h1 {
        text-align: left;
    }
}

p {
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}

@media (min-width: 640px) {
    p {
        text-align: left;
    }
}
